:root {
    --primary-color: #007bff;
    --secondary-color: #6c757d; 
    --text-color: #3a3838; 
    --background-color: #f8f8f8; 
    --error-color: #f81010;
    --error-text-color: #e7e5e5;
    --main-bg-color: #1F2028;
    --text-white-color: #dfdede;
}
