:root {
    //message
    --error-color: #f81010;
    //text
    --all-text-white: #e7e5e5;
    --title-color: #dfdede;
    --title-size: 3rem;
    --title-font-weight-500: 500;
    --subtitle-color: #a9adc1;
    //background
    --background-main-color:#1f2028;
    --background-opacity: transparent;
    //buttons-inputs
    --border-color: #4b4c53;
    //hover
    --link-color: #706767;
}
 