html,
body {
  font-size: 62.5%;
  height: 100%;
  background-color: var(--main-bg-color);
  
  @media screen and (max-width: 320px) {
    font-size: calc(62.5% * 23 / 28);
  }

  &.no-scroll {
    overflow: hidden;
    pointer-events: none;
    user-select: none;
  }
}

            
            