html,
body {
  font-size: 62.5%;
  height: 100%;
  background-color: var(--main-bg-color);
  
  @media screen and (max-width: 320px) {
    font-size: calc(62.5% * 23 / 28);
  }

  &.no-scroll {
    overflow: hidden;
    pointer-events: none;
    user-select: none;
  } 
}
html {
  background: var(--background-main-color);
}
label {
  display: none;
}
.mainContainer {
  margin: 0 auto;
  display: block;
  max-width: 130rem;
}
button[type="submit"],[type="button"] {
  display: block;
  background: var(--background-opacity);
  border: 0.01rem solid var(--border-color);
  border-radius: 2rem;
  padding: 1rem 2rem;
  color: var(--all-text-white);
  margin: 0.5rem auto;
  cursor: pointer;
  font-size: 2rem;
  a {
    color: var(--all-text-white);
    text-decoration: none;
  }
}
button:disabled {
  cursor: auto;
  background: var(--button-disabled);
  a {
    cursor: auto;
    color: var(--all-text-white);
    text-decoration: none;
  }
}
input[type="email"],[type="password"],[type="text"],[type="file"] {
  font-size: 2rem;
  min-width: 25rem;
  display: block;
  background: var(--background-opacity);
  border: 0.1rem solid var(--border-color);
  padding: 1rem 2rem;
  border-radius: 2rem;
  color: var(--all-text-white);
  margin: 0.5rem auto;
}
textarea {
  font-size: 2rem;
  max-width: 100%;
  min-height: 10rem;
  display: block;
  background: var(--background-opacity);
  border: 0.1rem solid var(--border-color);
  padding: 1rem 2rem;
  border-radius: 0.7rem;
  color: var(--all-text-white);
  margin: 0.5rem auto;
}
textarea::placeholder {
  color: var(--all-text-white);
}
input::placeholder {
  color: var(--all-text-white);
}
.mt-10 {
  margin-top: 10rem;
}
.mt-1 {
  margin-top: 2rem;
}
.w30 {
  width: 30rem;
}        

.link-wrapper {
  display: inline-block;
  width: fit-content;
}