:root {
    --primary-color: #007bff; /* Основной цвет */
    --secondary-color: #6c757d; /* Вторичный цвет */
    --text-color: #3a3838; /* Цвет текста */
    --background-color: #f8f8f8; /* Цвет фона */
    --error-color: #f81010;
    --error-text-color: #e7e5e5;
}
